# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Netlify folder
.netlify

# --- ZEKODES SPECIFIC ---
# Ignore the large resources folder (GCC, Python runtimes)
# This keeps your repo light. Netlify doesn't need these.
# Your local Electron builder will still find them on your disk.
resources/